openapi: 3.1.0
info:
  title: HappyHorse 1.0 T2V
  description: Use the Alibaba DashScope HappyHorse 1.0 text-to-video model
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: Create a text-to-video task
      description: >
        Submit a text-to-video task. Returns a `task_id` immediately. Poll `GET /v1/video/generations/{task_id}`
        for status and the video URL.
      operationId: createHappyhorse10T2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - happyhorse-1.0-t2v
                  description: model ID。
                  example: happyhorse-1.0-t2v
                prompt:
                  type: string
                  description: Video description text.
                  example: A cat running on the grass
                resolution:
                  type: string
                  enum:
                    - 720P
                    - 1080P
                  default: 1080P
                  description: Video resolution.
                  example: 720P
                ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                  default: '16:9'
                  description: Aspect ratio.
                  example: '16:9'
                duration:
                  type: integer
                  minimum: 3
                  maximum: 15
                  default: 5
                  description: Video duration in seconds.
                  example: 5
                watermark:
                  type: boolean
                  default: true
                  description: Whether to keep the "Happy Horse" watermark in the bottom-right corner. Set to `false` to disable it.
                  example: false
                seed:
                  type: integer
                  minimum: 0
                  maximum: 2147483647
                  description: Random seed, used to make results reproducible.
                  example: 42
                parameters:
                  type: object
                  description: "Optional: the same parameters can also be placed in a `parameters` object (native DashScope style) with the same effect."
      responses:
        '200':
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: asyntask_jwgfhsG0m2aDjLmiiELRf74eoWmss6ya
                  task_id:
                    type: string
                    example: asyntask_jwgfhsG0m2aDjLmiiELRf74eoWmss6ya
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: happyhorse-1.0-t2v
                  status:
                    type: string
                    example: queued
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1777343862
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '429':
          description: Rate limited
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

