openapi: 3.1.0
info:
  title: Wan2.2 T2V A14B
  description: Call the Alibaba Wan2.2 text-to-video model (asynchronous task)
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: Create a text-to-video task
      description: >
        Generate a video from a text description. This is an asynchronous task — after submitting, poll `GET /v1/video/generations/{task_id}` until
        `status` is `succeeded`.
      operationId: createWan22T2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - wan2.2-t2v-a14b
                  description: model ID
                  example: wan2.2-t2v-a14b
                prompt:
                  type: string
                  description: Video description text.
                  example: A cat playing the piano
                duration:
                  type: number
                  description: Video duration in seconds, 3–5.
                  minimum: 3
                  maximum: 5
                  default: 5
                  example: 5
                width:
                  type: integer
                  description: Output video width in pixels.
                height:
                  type: integer
                  description: Output video height in pixels.
                seed:
                  type: integer
                  description: Random seed, used to reproduce results.
                metadata:
                  type: object
                  description: Extra parameters passed through to the upstream API.
      responses:
        '200':
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    description: Task ID, used to poll status.
                  status:
                    type: string
                    description: Initial status (`queued`).
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

