openapi: 3.1.0
info:
  title: FLUX.2 [flex]
  description: 通过 Starrise AI API 调用 Black Forest Labs FLUX.2 [flex] 文生图模型
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/images/generations:
    post:
      summary: 生成图片
      description: >-
        使用 FLUX.2 [flex] 根据文本描述生成图片。提供精细的采样步数和引导系数控制。接口为同步调用，直接返回 Base64
        编码的图片数据。
      operationId: createFlux2Flex
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - flux-2-flex
                  description: 模型 ID
                  example: flux-2-flex
                prompt:
                  type: string
                  description: 图片描述文字。
                  example: 一只可爱的北极熊宝宝
                'n':
                  type: integer
                  minimum: 1
                  maximum: 4
                  default: 1
                  description: 生成图片数量。
                size:
                  type: string
                  description: 输出图片尺寸，如 `1024x1024`。支持最高 4MP 分辨率。
                  example: 1024x1024
                inference_steps:
                  type: integer
                  minimum: 1
                  maximum: 50
                  description: 采样步数。低步数（6–20）用于快速原型，高步数（40–50）用于极致保真。
                guidance_scale:
                  type: number
                  minimum: 1.5
                  maximum: 10
                  description: 引导缩放系数。控制模型对 Prompt 的遵循程度，数值越高越忠实于提示词。
                output_format:
                  type: string
                  enum:
                    - jpeg
                    - png
                  description: 输出图片格式。
                  example: jpeg
                seed:
                  type: integer
                  description: 随机种子，用于复现生成结果。
      responses:
        '200':
          description: 图片生成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                    description: 创建时间戳
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        b64_json:
                          type: string
                          description: Base64 编码的图片数据。
        '400':
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

