openapi: 3.1.0
info:
  title: Seedance 2.0 Fast
  description: >-
    Call the ByteDance Seedance 2.0 Fast video generation model. Supports text-to-video, image-to-video, multimodal references, video editing, video extension, and web-search enhancement
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: Create a video generation task
      description: |
        Create an asynchronous video generation task. Multiple input modes are supported:
        - Text-to-video
        - Image-to-video (first frame / first and last frame)
        - Multimodal reference (image + video + audio combinations)
        - Edit video
        - Extend video
        - Web-search enhancement

        After submitting, poll `GET /v1/video/generations/{id}` until `status` is `succeeded`.
      operationId: createSeedanceFastZh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - seedance-fast
                  description: model ID
                  example: seedance-fast
                content:
                  type: array
                  description: |
                    Input content array. Supports combinations of text, image, video, and audio:
                    - Text
                    - Text (optional) + image
                    - Text (optional) + video
                    - Text (optional) + image + audio
                    - Text (optional) + image + video
                    - Text (optional) + video + audio
                    - Text (optional) + image + video + audio
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - text
                          - image_url
                          - video_url
                          - audio_url
                        description: |
                          Content types:
                          - `text` — text prompt
                          - `image_url` — image input (first frame / last frame / reference image)
                          - `video_url` — video input (reference video)
                          - `audio_url` — audio input (reference audio)
                      text:
                        type: string
                        description: "Text prompt describing the desired video. Recommended: up to 500 Chinese characters or 1000 English words."
                      image_url:
                        type: object
                        description: Image object.
                        properties:
                          url:
                            type: string
                            description: |
                              Image URL, Base64 encoding, or asset ID (`asset://<ASSET_ID>`).
                              Supported formats: jpeg, png, webp, bmp, tiff, gif. Each image ≤ 30 MB.
                      video_url:
                        type: object
                        description: Video object.
                        properties:
                          url:
                            type: string
                            description: |
                              Video URL or asset ID (`asset://<ASSET_ID>`).
                              Supported formats: mp4, mov. Each file ≤ 50 MB, duration 2–15 seconds.
                      audio_url:
                        type: object
                        description: Audio object. Cannot be used alone; at least one reference video or image is required.
                        properties:
                          url:
                            type: string
                            description: |
                              Audio URL, Base64 encoding, or asset ID (`asset://<ASSET_ID>`).
                              Supported formats: wav, mp3. Each file ≤ 15 MB, duration 2–15 seconds.
                      role:
                        type: string
                        enum:
                          - first_frame
                          - last_frame
                          - reference_image
                          - reference_video
                          - reference_audio
                        description: |
                          Role of the content item:
                          - `first_frame` — first-frame image (image-to-video)
                          - `last_frame` — last-frame image (first-and-last-frame mode)
                          - `reference_image` — reference image (multimodal reference, 1–9 images)
                          - `reference_video` — reference video (multimodal reference, up to 3)
                          - `reference_audio` — reference audio (multimodal reference, up to 3)
                  example:
                    - type: text
                      text: A cat playing the piano in a sunlit room
                    - type: image_url
                      image_url:
                        url: https://example.com/reference.jpg
                      role: reference_image
                generate_audio:
                  type: boolean
                  default: true
                  description: |
                    Controls whether the generated video includes synchronized audio.
                    - `true` — automatically generate speech, sound effects, and background music
                    - `false` — silent video
                resolution:
                  type: string
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                  default: 720p
                  description: Output video resolution.
                ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    - '21:9'
                    - adaptive
                  default: adaptive
                  description: |
                    Output aspect ratio. `adaptive` automatically chooses the best ratio from the input.
                duration:
                  type: integer
                  minimum: 4
                  maximum: 15
                  default: 5
                  description: |
                    Video duration in seconds. Integer, 4–15.
                tools:
                  type: array
                  description: Tools the model can call. Currently supports web search (text-to-video only).
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - web_search
                        description: Tool type. `web_search` enables web search.
                watermark:
                  type: boolean
                  default: false
                  description: Whether to add a watermark.
      responses:
        '200':
          description: Video generation task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Task ID
                    example: cgt-20260312231129-7db6s
                  task_id:
                    type: string
                    description: Task ID (same as id)
                    example: cgt-20260312231129-7db6s
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: seedance-fast
                  status:
                    type: string
                    description: Initially empty
                    example: ''
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    description: Unix timestamp
                    example: 1773328294
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

