openapi: 3.1.0
info:
  title: Seedance assets — create image asset
  description: Upload an image asset to an asset group
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /volc/asset/CreateAsset:
    post:
      summary: Create an image asset
      description: >-
        Upload an image to an existing asset group. The returned asset ID can be referenced in Seedance 2.0 requests as `asset://<ID>`
        for character references, first frames, and similar use cases.
      operationId: createImageAssetZh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - GroupId
                - AssetType
                - URL
              properties:
                model:
                  type: string
                  enum:
                    - volc-asset
                  description: Billing model. Always pass `volc-asset` for images.
                  example: volc-asset
                GroupId:
                  type: string
                  description: Asset group ID.
                  example: group-20260319072926-rrnmg
                Name:
                  type: string
                  description: Asset name.
                  example: character-reference
                AssetType:
                  type: string
                  enum:
                    - Image
                  description: Asset type. Always pass `Image` for images.
                  example: Image
                URL:
                  type: string
                  description: Image URL, data URI, or raw Base64 string.
                  example: https://example.com/image.jpg
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - GroupId
              properties:
                model:
                  type: string
                  enum:
                    - volc-asset
                  description: Billing model. Always pass `volc-asset` for images.
                file:
                  type: string
                  format: binary
                  description: Image file to upload.
                GroupId:
                  type: string
                  description: Asset group ID.
                Name:
                  type: string
                  description: Asset name. Defaults to the file name without the extension.
                AssetType:
                  type: string
                  enum:
                    - Image
                  default: Image
                  description: Asset type. Always `Image`.
      responses:
        '200':
          description: Image asset created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    description: Asset ID. Referenced in Seedance 2.0 requests as `asset://<ID>`.
                    example: asset-20260320120147-pqwhc
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl https://ai.cubeuaeai.com/volc/asset/CreateAsset \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "volc-asset",
              "GroupId": "group-20260319072926-rrnmg",
              "Name": "character-reference",
              "AssetType": "Image",
              "URL": "https://example.com/image.jpg"
            }'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Header authentication in the format `Bearer <token>`, where `<token>` is your API key.

