openapi: 3.1.0
info:
  title: Wan2.2 T2V A14B
  description: 通过 Starrise AI API 调用阿里巴巴 Wan2.2 文生视频模型（异步任务）
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: 创建文生视频任务
      description: >
        根据文本描述生成视频。为异步任务——提交后通过 `GET /v1/video/generations/{task_id}` 轮询状态，直到
        `status` 为 `succeeded`。
      operationId: createWan22T2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - wan2.2-t2v-a14b
                  description: 模型 ID
                  example: wan2.2-t2v-a14b
                prompt:
                  type: string
                  description: 视频描述文字。
                  example: 一只猫在弹钢琴
                duration:
                  type: number
                  description: 视频时长（秒），3–5。
                  minimum: 3
                  maximum: 5
                  default: 5
                  example: 5
                width:
                  type: integer
                  description: 输出视频宽度（像素）。
                height:
                  type: integer
                  description: 输出视频高度（像素）。
                seed:
                  type: integer
                  description: 随机种子，用于复现结果。
                metadata:
                  type: object
                  description: 透传至上游 API 的扩展参数。
      responses:
        '200':
          description: 任务创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    description: 任务 ID，用于轮询状态。
                  status:
                    type: string
                    description: 初始状态（`queued`）。
        '400':
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

