openapi: 3.1.0
info:
  title: Gemini 2.5 Flash
  description: Call Google Gemini 2.5 Flash
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security: []
paths:
  /v1beta/models/gemini-2.5-flash:generateContent:
    post:
      summary: Text generation (with search)
      description: Generate a reply using a Gemini model, with optional Google Search grounding.
      operationId: Gemini25FlashGenerateWithSearch
      parameters:
        - name: key
          in: query
          description: API key
          required: true
          schema:
            type: string
          example: YOUR_API_KEY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contents
              properties:
                contents:
                  type: array
                  description: Array of conversation contents.
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - model
                        example: user
                      parts:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              description: Text content
                            inline_data:
                              type: object
                              properties:
                                mime_type:
                                  type: string
                                  description: File MIME type
                                data:
                                  type: string
                                  description: Base64-encoded file data
                  example:
                    - role: user
                      parts:
                        - text: What's the weather like in Chongqing today?
                tools:
                  type: array
                  description: Tool configuration. Enables Google Search.
                  items:
                    type: object
                    properties:
                      googleSearch:
                        type: object
                  example:
                    - googleSearch: {}
      responses:
        '200':
          description: Reply generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    GenerateContentResponse:
      type: object
      properties:
        candidates:
          type: array
          items:
            type: object
            properties:
              content:
                type: object
                properties:
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          example: Based on search results, today's weather in Chongqing...
                  role:
                    type: string
                    example: model
              finishReason:
                type: string
                example: STOP
              groundingMetadata:
                type: object
                properties:
                  searchEntryPoint:
                    type: object
                  groundingChunks:
                    type: array
                    items:
                      type: object
        usageMetadata:
          type: object
          properties:
            promptTokenCount:
              type: integer
            candidatesTokenCount:
              type: integer
            totalTokenCount:
              type: integer
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            status:
              type: string

