openapi: 3.1.0
info:
  title: Kling V3 Omni
  description: Call the Kuaishou Kling V3 Omni video generation model
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /kling/v1/videos/omni-video:
    post:
      summary: Create a video task
      description: Create an Omni video generation task. The Omni model can combine a prompt with elements, images, videos, and more.
      operationId: createKlingV3OmniVideo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_name:
                  type: string
                  enum:
                    - kling-v3-omni
                  description: Model name
                  example: kling-v3-omni
                prompt:
                  type: string
                  maxLength: 2500
                  description: >-
                    Text prompt. Supports positive and negative descriptions. Use
                    <<<element_1>>>、<<<image_1>>>、<<<video_1>>>
                    to reference elements/images/videos. Required when multi_shot is false.
                  example: A cat walking gracefully through a sunlit garden
                mode:
                  type: string
                  enum:
                    - std
                    - pro
                  default: pro
                  description: "Video generation mode. std: standard mode (better value). pro: professional mode (higher quality)."
                  example: pro
                aspect_ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                  description: Aspect ratio of the generated video (width:height). Required when no first-frame reference or video editing is used.
                  example: '16:9'
                duration:
                  type: string
                  enum:
                    - '3'
                    - '4'
                    - '5'
                    - '6'
                    - '7'
                    - '8'
                    - '9'
                    - '10'
                    - '11'
                    - '12'
                    - '13'
                    - '14'
                    - '15'
                  default: '5'
                  description: Video duration in seconds, 3–15.
                  example: '5'
                multi_shot:
                  type: boolean
                  default: false
                  description: Whether to generate a multi-shot video. When true, the prompt parameter is ignored and multi_prompt must be used.
                shot_type:
                  type: string
                  enum:
                    - customize
                  description: Storyboard mode. Required when multi_shot is true.
                multi_prompt:
                  type: array
                  description: >-
                    Storyboard shots (1–6). Required when multi_shot is true and shot_type is customize
                    .
                  items:
                    type: object
                    required:
                      - index
                      - prompt
                      - duration
                    properties:
                      index:
                        type: integer
                        description: Shot index
                      prompt:
                        type: string
                        maxLength: 512
                        description: Prompt for this shot
                      duration:
                        type: string
                        description: Duration of this shot (≥1; the sum of all shot durations equals the total duration)
                image_list:
                  type: array
                  description: >-
                    Reference image list. Supports first/last frame, scene, and style references. Format .jpg/.jpeg/.png, ≤10MB, minimum 300px, aspect ratio
                    1:2.5–2.5:1。
                  items:
                    type: object
                    required:
                      - image_url
                    properties:
                      image_url:
                        type: string
                        description: Image URL or Base64 encoding
                      type:
                        type: string
                        enum:
                          - first_frame
                          - end_frame
                        description: "Frame type: first_frame for the first frame, end_frame for the last frame. A last frame requires a first frame as well."
                element_list:
                  type: array
                  description: Reference element list, based on element IDs from the Kling element library.
                  items:
                    type: object
                    required:
                      - element_id
                    properties:
                      element_id:
                        type: integer
                        format: int64
                        description: Element ID from the element library
                video_list:
                  type: array
                  description: Reference video list. MP4/MOV only, ≥3 seconds, 720px–2160px, 24–60fps, ≤200MB.
                  items:
                    type: object
                    required:
                      - video_url
                    properties:
                      video_url:
                        type: string
                        description: Video URL
                      refer_type:
                        type: string
                        enum:
                          - feature
                          - base
                        default: base
                        description: "Reference type. base: video editing. feature: style/camera-movement reference."
                      keep_original_sound:
                        type: string
                        enum:
                          - 'yes'
                          - 'no'
                        description: Whether to keep the original audio of the reference video
                sound:
                  type: string
                  enum:
                    - 'on'
                    - 'off'
                  default: 'off'
                  description: Whether to generate sound effects together with the video. Must be off when a reference video is provided.
                watermark_info:
                  type: object
                  description: Watermark configuration
                  properties:
                    enabled:
                      type: boolean
                      description: Whether to generate a watermarked result
                callback_url:
                  type: string
                  description: Callback URL for task status changes
                external_task_id:
                  type: string
                  description: Custom task ID. Must be unique within the same account.
      responses:
        '200':
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTask'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    VideoTask:
      type: object
      properties:
        id:
          type: string
          description: Task ID
          example: '860260753860210752'
        task_id:
          type: string
          description: Task ID
          example: '860260753860210752'
        object:
          type: string
          example: video
        model:
          type: string
          example: kling-v3-omni
        status:
          type: string
          description: Task status
        progress:
          type: integer
          description: Progress percentage
          example: 0
        created_at:
          type: integer
          description: Unix timestamp
          example: 1773130665
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

