openapi: 3.1.0
info:
  title: Kling face identification
  description: Detect faces in a video and create a session for lip-sync generation
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /kling/v1/videos/identify-face:
    post:
      summary: Face identification
      description: |
        Analyze faces in a video and return a `session_id` and face list. `session_id` is required by the lip-sync API.

        This API is **synchronous**. The result is returned immediately; no polling is required.
      operationId: klingIdentifyFaceZh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                video_url:
                  type: string
                  description: |
                    Public URL of the video to analyze. The video must contain at least one clearly visible face.
                    Required if `video_id` is not provided.
                  example: https://example.com/person-speaking.mp4
                video_id:
                  type: string
                  description: |
                    ID of a video previously generated by Kling (e.g. the result of a text-to-video or image-to-video task).
                    Required if `video_url` is not provided.
                  example: '860260754053148756'
      responses:
        '200':
          description: Face detection succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: SUCCEED
                  data:
                    type: object
                    properties:
                      session_id:
                        type: string
                        description: Session ID, passed to the lip-sync API.
                        example: abc123-session-id
                      face_list:
                        type: array
                        description: Detected faces. Multiple entries are returned when several people appear in the video.
                        items:
                          type: object
                          properties:
                            face_id:
                              type: string
                              description: Unique face identifier.
                              example: face_001
                            face_rect:
                              type: object
                              description: Face bounding-box coordinates.
                              properties:
                                x:
                                  type: integer
                                  example: 120
                                'y':
                                  type: integer
                                  example: 80
                                width:
                                  type: integer
                                  example: 200
                                height:
                                  type: integer
                                  example: 250
        '400':
          description: Invalid parameters or face detection failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

