openapi: 3.1.0
info:
  title: Qwen3.6-Flash
  description: 通过 Starrise AI OpenAI 兼容接口调用阿里巴巴 Qwen3.6-Flash 视觉语言模型
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/chat/completions:
    post:
      summary: 对话补全
      description: 根据对话内容生成模型响应。Qwen3.6-Flash 支持文本、图片和视频输入。
      operationId: createChatCompletionQwen36Flash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  enum:
                    - qwen3.6-flash
                  description: 模型 ID
                  example: qwen3.6-flash
                messages:
                  type: array
                  minItems: 1
                  description: 对话消息数组。content 可以是字符串或内容部件数组，用于多模态输入。
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - system
                          - user
                          - assistant
                      content:
                        oneOf:
                          - type: string
                            description: 纯文本消息
                          - type: array
                            description: 多模态输入的内容部件数组
                            items:
                              oneOf:
                                - type: object
                                  required:
                                    - type
                                    - text
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - text
                                    text:
                                      type: string
                                      description: 文本内容
                                - type: object
                                  required:
                                    - type
                                    - image_url
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - image_url
                                    image_url:
                                      type: object
                                      required:
                                        - url
                                      properties:
                                        url:
                                          type: string
                                          description: >-
                                            图片 URL (https://...) 或 base64 数据 URI
                                            (data:image/png;base64,...)
                                - type: object
                                  required:
                                    - type
                                    - video_url
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - video_url
                                    video_url:
                                      type: object
                                      required:
                                        - url
                                      properties:
                                        url:
                                          type: string
                                          description: >-
                                            视频 URL (https://...) 或 base64 数据 URI
                                            (data:video/mp4;base64,...)
                  examples:
                    - text-only:
                        - role: user
                          content: 你好！
                    - image-input:
                        - role: user
                          content:
                            - type: text
                              text: 请描述这张图片。
                            - type: image_url
                              image_url:
                                url: https://example.com/photo.jpg
                    - video-input:
                        - role: user
                          content:
                            - type: text
                              text: 请总结这个视频的内容。
                            - type: video_url
                              video_url:
                                url: https://example.com/sample.mp4
                max_completion_tokens:
                  type: integer
                  minimum: 1
                  maximum: 65536
                  default: 65536
                  description: 最大生成 Token 数。
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: 采样温度。较高的值会使输出更加随机。
                  example: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: 核采样阈值。
                frequency_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: 根据已有文本中 Token 的出现频率进行惩罚。
                presence_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: 对已出现的 Token 进行惩罚。
                stream:
                  type: boolean
                  default: false
                  description: 开启后通过 SSE 流式传输部分消息增量。
                enable_thinking:
                  type: boolean
                  default: false
                  description: 启用推理能力。开启后会在 content 的同时返回 reasoning_content。
                stop:
                  type: array
                  items:
                    type: string
                  description: 触发停止生成 further tokens 的序列。必须为数组格式，如 [".", "?"]。
      responses:
        '200':
          description: 补全生成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: 超出速率限制
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ChatCompletion:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
      properties:
        id:
          type: string
          example: chatcmpl-abc123
        object:
          type: string
          example: chat.completion
        created:
          type: integer
          description: Unix 时间戳
        model:
          type: string
          example: qwen3.6-flash
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                    example: assistant
                  content:
                    type: string
                    example: 你好！有什么可以帮你的？
                  reasoning_content:
                    type: string
                    description: 当 enable_thinking 为 true 时返回
              finish_reason:
                type: string
                enum:
                  - stop
                  - length
                  - content_filter
                  - null
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
            prompt_tokens_details:
              type: object
              description: Token 明细
              properties:
                cached_tokens:
                  type: integer
                text_tokens:
                  type: integer
                image_tokens:
                  type: integer
                  description: 使用图片输入时返回
                video_tokens:
                  type: integer
                  description: 使用视频输入时返回
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

