openapi: 3.1.0
info:
  title: Qwen3.6-Flash
  description: Call Alibaba Qwen3.6-Flash vision-language model
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/chat/completions:
    post:
      summary: Chat completion
      description: Generate a model response from the conversation. Qwen3.6-Flash supports text, image, and video input.
      operationId: createChatCompletionQwen36Flash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  enum:
                    - qwen3.6-flash
                  description: model ID
                  example: qwen3.6-flash
                messages:
                  type: array
                  minItems: 1
                  description: Array of conversation messages. `content` can be a string or an array of content parts for multimodal input.
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - system
                          - user
                          - assistant
                      content:
                        oneOf:
                          - type: string
                            description: Plain-text message
                          - type: array
                            description: Array of content parts for multimodal input
                            items:
                              oneOf:
                                - type: object
                                  required:
                                    - type
                                    - text
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - text
                                    text:
                                      type: string
                                      description: Text content
                                - type: object
                                  required:
                                    - type
                                    - image_url
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - image_url
                                    image_url:
                                      type: object
                                      required:
                                        - url
                                      properties:
                                        url:
                                          type: string
                                          description: >-
                                            Image URL (https://...) or base64 data URI
                                            (data:image/png;base64,...)
                                - type: object
                                  required:
                                    - type
                                    - video_url
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - video_url
                                    video_url:
                                      type: object
                                      required:
                                        - url
                                      properties:
                                        url:
                                          type: string
                                          description: >-
                                            Video URL (https://...) or base64 data URI
                                            (data:video/mp4;base64,...)
                  examples:
                    - text-only:
                        - role: user
                          content: Hello!
                    - image-input:
                        - role: user
                          content:
                            - type: text
                              text: Please describe this image.
                            - type: image_url
                              image_url:
                                url: https://example.com/photo.jpg
                    - video-input:
                        - role: user
                          content:
                            - type: text
                              text: Please summarize this video.
                            - type: video_url
                              video_url:
                                url: https://example.com/sample.mp4
                max_completion_tokens:
                  type: integer
                  minimum: 1
                  maximum: 65536
                  default: 65536
                  description: Maximum number of tokens to generate.
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: Sampling temperature. Higher values make the output more random.
                  example: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Nucleus sampling threshold.
                frequency_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalize tokens based on how often they already appear in the text.
                presence_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalize tokens that have already appeared.
                stream:
                  type: boolean
                  default: false
                  description: When enabled, partial message deltas are streamed via SSE.
                enable_thinking:
                  type: boolean
                  default: false
                  description: Enable reasoning. When on, reasoning_content is returned together with content.
                stop:
                  type: array
                  items:
                    type: string
                  description: Sequences that stop generation of further tokens. Must be an array, e.g. [".", "?"].
      responses:
        '200':
          description: Completion generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ChatCompletion:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
      properties:
        id:
          type: string
          example: chatcmpl-abc123
        object:
          type: string
          example: chat.completion
        created:
          type: integer
          description: Unix timestamp
        model:
          type: string
          example: qwen3.6-flash
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                    example: assistant
                  content:
                    type: string
                    example: Hello! How can I help you?
                  reasoning_content:
                    type: string
                    description: Returned when enable_thinking is true
              finish_reason:
                type: string
                enum:
                  - stop
                  - length
                  - content_filter
                  - null
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
            prompt_tokens_details:
              type: object
              description: Token breakdown
              properties:
                cached_tokens:
                  type: integer
                text_tokens:
                  type: integer
                image_tokens:
                  type: integer
                  description: Returned when image input is used
                video_tokens:
                  type: integer
                  description: Returned when video input is used
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

