openapi: 3.1.0
info:
  title: Seedance 1.0 Pro Text-to-Video
  description: Call the ByteDance Seedance 1.0 Pro text-to-video model
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: Create a text-to-video task
      description: Generate a video from text using the doubao-seedance-1-0-pro-250528 model.
      operationId: createSeedance10ProT2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedance-1-0-pro-250528
                  description: model ID
                  example: doubao-seedance-1-0-pro-250528
                content:
                  type: array
                  minItems: 1
                  description: Content array containing the text prompt.
                  items:
                    type: object
                    required:
                      - type
                      - text
                    properties:
                      type:
                        type: string
                        enum:
                          - text
                      text:
                        type: string
                        description: Video generation prompt.
                ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    - '21:9'
                  default: '16:9'
                  description: Aspect ratio. Text-to-video does not support adaptive.
                  example: '16:9'
                resolution:
                  type: string
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                  default: 720p
                  description: Output resolution.
                  example: 720p
                duration:
                  type: integer
                  minimum: 2
                  maximum: 12
                  default: 5
                  description: Video duration in seconds, 2-12.
                  example: 5
                watermark:
                  type: boolean
                  default: false
                  description: Whether to add a watermark.
                seed:
                  type: integer
                  description: Random seed.
                camera_fixed:
                  type: boolean
                  default: false
                  description: Whether to lock the camera.
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: gen-abc123
                  model:
                    type: string
                    example: doubao-seedance-1-0-pro-250528
                  status:
                    type: string
                    example: processing
                  created_at:
                    type: integer
                    example: 1773130665
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

