openapi: 3.1.0
info:
  title: Gemini 2.5 Flash Lite
  description: 通过 Starrise AI 代理调用 Google Gemini 2.5 Flash Lite
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security: []
paths:
  /v1beta/models/gemini-2.5-flash-lite:generateContent:
    post:
      summary: 文本生成
      description: 根据对话内容生成模型响应。
      operationId: Gemini25FlashLiteGenerateContent
      parameters:
        - name: key
          in: query
          description: API 密钥
          required: true
          schema:
            type: string
          example: YOUR_API_KEY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contents
              properties:
                contents:
                  type: array
                  description: 对话内容数组，包含用户和模型消息。
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - model
                        example: user
                      parts:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              description: 文本内容
                  example:
                    - role: user
                      parts:
                        - text: 你好，请介绍一下你自己。
                systemInstruction:
                  type: object
                  description: 系统指令
                  properties:
                    parts:
                      type: array
                      items:
                        type: object
                        properties:
                          text:
                            type: string
                  example:
                    parts:
                      - text: 你是一个有用的助手。
                generationConfig:
                  type: object
                  properties:
                    temperature:
                      type: number
                      minimum: 0
                      maximum: 2
                      default: 1
                      description: 采样温度，值越高输出越随机。
                      example: 1
                    topP:
                      type: number
                      minimum: 0
                      maximum: 1
                      default: 1
                      description: 核采样阈值。
      responses:
        '200':
          description: 成功生成响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
        '400':
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    GenerateContentResponse:
      type: object
      properties:
        candidates:
          type: array
          items:
            type: object
            properties:
              content:
                type: object
                properties:
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          example: 你好！我是 Gemini，很高兴认识你。
                  role:
                    type: string
                    example: model
              finishReason:
                type: string
                example: STOP
        usageMetadata:
          type: object
          properties:
            promptTokenCount:
              type: integer
            candidatesTokenCount:
              type: integer
            totalTokenCount:
              type: integer
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            status:
              type: string

