openapi: 3.1.0
info:
  title: Seedance 2.0 素材 — 创建素材组
  description: 通过 Starrise AI API 创建素材组，用于管理 Seedance 使用的媒体资源
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security:
  - bearerAuth: []
paths:
  /volc/asset/CreateAssetGroup:
    post:
      summary: 创建素材组
      description: 创建新的素材组，用于组织管理图片、视频、音频等媒体资源，供 Seedance 视频生成使用。
      operationId: createAssetGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Name
              properties:
                model:
                  type: string
                  default: volc-asset
                  description: 模型名称，用于计费。默认 `volc-asset`。
                  example: volc-asset
                Name:
                  type: string
                  description: 素材组名称。
                  example: my-project-assets
      responses:
        '200':
          description: 素材组创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    description: 素材组 ID。
                    example: group-20260320120601-hsw4s
        '400':
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

