openapi: 3.1.0
info:
  title: Kling 1.6 多图生视频
  description: 通过 Starrise AI API 调用快手 Kling 1.6 多图生视频模型
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /kling/v1/videos/multi-image2video:
    post:
      summary: 创建多图生视频任务
      description: 使用 kling-v1-6 模型从多张参考图片（最多 4 张）生成视频。
      operationId: createKlingV16Mi2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_list
                - prompt
              properties:
                model_name:
                  type: string
                  enum:
                    - kling-v1-6
                  default: kling-v1-6
                  description: 模型名称
                  example: kling-v1-6
                image_list:
                  type: array
                  minItems: 1
                  maxItems: 4
                  description: >-
                    参考图片列表（1–4 张）。格式：.jpg/.jpeg/.png，≤10MB，最小 300px，宽高比
                    1:2.5–2.5:1。
                  items:
                    type: object
                    required:
                      - image
                    properties:
                      image:
                        type: string
                        description: '图片 URL 或 Base64 编码（不加 data: 前缀）'
                prompt:
                  type: string
                  maxLength: 2500
                  description: 正向文本提示词，必填，最长 2500 字符。
                  example: 四个角色围坐在篝火旁分享故事
                negative_prompt:
                  type: string
                  maxLength: 2500
                  description: 负向文本提示词，最长 2500 字符。
                mode:
                  type: string
                  enum:
                    - std
                    - pro
                  default: std
                  description: std：标准模式（性价比高）。pro：专业模式（画质更好）。
                duration:
                  type: string
                  enum:
                    - '5'
                    - '10'
                  default: '5'
                  description: 视频时长（秒），5 或 10。
                  example: '5'
                aspect_ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                  default: '16:9'
                  description: 生成视频的画面比例（宽:高）。
                  example: '16:9'
                watermark_info:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: 是否生成带水印的结果
                callback_url:
                  type: string
                  description: 任务状态变更的回调通知 URL
                external_task_id:
                  type: string
                  description: 自定义任务 ID，同一账号下需唯一。
      responses:
        '200':
          description: 任务创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: '860260753860210752'
                  task_id:
                    type: string
                    example: '860260753860210752'
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: kling-v1-6
                  status:
                    type: string
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1773130665
        '401':
          description: 未授权
        '429':
          description: 请求频率超限
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

