openapi: 3.1.0
info:
  title: Seedance 2.0 素材 — 查询素材组
  description: 通过 Starrise AI API 查询素材组
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security:
  - bearerAuth: []
paths:
  /volc/asset/ListAssetGroups:
    post:
      summary: 查询素材组
      description: 查询素材组列表，支持按名称模糊匹配和按 ID 精确匹配。查询操作不计费。
      operationId: listAssetGroups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAssetGroupsRequest'
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssetGroupsResponse'
        '401':
          description: 未授权
components:
  schemas:
    ListAssetGroupsRequest:
      type: object
      required:
        - model
        - Filter
      properties:
        model:
          type: string
          description: 模型名称。默认 `volc-asset`。
          example: volc-asset
        Filter:
          $ref: '#/components/schemas/ListAssetGroupsFilter'
        PageNumber:
          type: integer
          description: 页码，默认 `1`。
          example: 1
        PageSize:
          type: integer
          description: 每页数量，默认 `10`。
          example: 10
      example:
        model: volc-asset
        Filter:
          Name: my-project
          GroupIds:
            - group-20260320141746-zsf6b
        PageNumber: 1
        PageSize: 10
    ListAssetGroupsResponse:
      type: object
      properties:
        Items:
          type: array
          items:
            type: object
            properties:
              Id:
                type: string
                example: group-20260320141746-zsf6b
              Name:
                type: string
                example: test-token
              Title:
                type: string
                description: 带用户/令牌前缀的显示标题。
                example: '[u-1]-[t-88] test-token'
              GroupType:
                type: string
                example: AIGC
              ProjectName:
                type: string
                example: default
              CreateTime:
                type: string
                example: '2026-03-20T14:17:46Z'
              UpdateTime:
                type: string
                example: '2026-03-20T14:17:46Z'
        PageNumber:
          type: integer
          example: 1
        PageSize:
          type: integer
          example: 10
        TotalCount:
          type: integer
          example: 2
    ListAssetGroupsFilter:
      type: object
      properties:
        Name:
          type: string
          description: 按名称模糊匹配。
          example: my-project
        GroupIds:
          type: array
          items:
            type: string
          description: 按素材组 ID 列表精确匹配。
          example:
            - group-20260320141746-zsf6b
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

