openapi: 3.1.0
info:
  title: Gemini native endpoint
  description: Call the native Google Gemini generateContent API
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1beta/models/{model}:generateContent:
    post:
      summary: Generate content
      description: Generate a model reply from the input GenerateContentRequest.
      operationId: generateContent
      parameters:
        - name: model
          in: path
          required: true
          schema:
            type: string
            enum:
              - gemini-3.1-pro-preview
              - gemini-3.1-flash-image-preview
              - gemini-3.1-flash-lite-preview
              - gemini-3-pro-preview
              - gemini-3-pro-image-preview
              - gemini-3-flash-preview
              - gemini-2.5-pro
              - gemini-2.5-flash
              - gemini-2.5-flash-lite
              - gemini-2.0-flash
          description: The model name used for generation.
          example: gemini-2.5-pro
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contents
              properties:
                contents:
                  type: array
                  minItems: 1
                  description: The current conversation contents with the model.
                  items:
                    type: object
                    required:
                      - parts
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - model
                        description: Role of the content author.
                      parts:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              description: Text content.
                            inlineData:
                              type: object
                              properties:
                                mimeType:
                                  type: string
                                data:
                                  type: string
                              description: Inline media bytes.
                  example:
                    - role: user
                      parts:
                        - text: Hello, Gemini!
                systemInstruction:
                  type: object
                  properties:
                    parts:
                      type: array
                      items:
                        type: object
                        properties:
                          text:
                            type: string
                  description: System instruction set by the developer.
                generationConfig:
                  type: object
                  properties:
                    temperature:
                      type: number
                      minimum: 0
                      maximum: 2
                      description: Controls the randomness of the output.
                    topP:
                      type: number
                      minimum: 0
                      maximum: 1
                      description: Maximum cumulative probability of tokens considered during sampling.
                    topK:
                      type: integer
                      description: Maximum number of tokens considered during sampling.
                    maxOutputTokens:
                      type: integer
                      description: Maximum number of tokens included in each response candidate.
                    stopSequences:
                      type: array
                      items:
                        type: string
                      description: Set of character sequences that stop output generation.
                    responseMimeType:
                      type: string
                      enum:
                        - text/plain
                        - application/json
                      description: MIME type of the generated candidate text.
                    responseSchema:
                      type: object
                      description: Output schema of the generated candidate text when responseMimeType is application/json.
                  description: Configuration options for model generation and output.
                tools:
                  type: array
                  items:
                    type: object
                    properties:
                      functionDeclarations:
                        type: array
                        items:
                          type: object
                          required:
                            - name
                          properties:
                            name:
                              type: string
                            description:
                              type: string
                            parameters:
                              type: object
                  description: A list of tools the model can use to generate a response.
                toolConfig:
                  type: object
                  properties:
                    functionCallingConfig:
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                            - AUTO
                            - ANY
                            - NONE
                        allowedFunctionNames:
                          type: array
                          items:
                            type: string
                  description: Tool configuration for any tools specified in the request.
                safetySettings:
                  type: array
                  items:
                    type: object
                    properties:
                      category:
                        type: string
                        enum:
                          - HARM_CATEGORY_HARASSMENT
                          - HARM_CATEGORY_HATE_SPEECH
                          - HARM_CATEGORY_SEXUALLY_EXPLICIT
                          - HARM_CATEGORY_DANGEROUS_CONTENT
                      threshold:
                        type: string
                        enum:
                          - BLOCK_NONE
                          - BLOCK_LOW_AND_ABOVE
                          - BLOCK_MEDIUM_AND_ABOVE
                          - BLOCK_ONLY_HIGH
                  description: A list of safety settings used to block unsafe content.
      responses:
        '200':
          description: Content generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    GenerateContentResponse:
      type: object
      properties:
        candidates:
          type: array
          items:
            type: object
            properties:
              content:
                type: object
                properties:
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                  role:
                    type: string
                    example: model
              finishReason:
                type: string
                enum:
                  - STOP
                  - MAX_TOKENS
                  - SAFETY
                  - RECITATION
                  - OTHER
              index:
                type: integer
              safetyRatings:
                type: array
                items:
                  type: object
                  properties:
                    category:
                      type: string
                    probability:
                      type: string
        usageMetadata:
          type: object
          properties:
            promptTokenCount:
              type: integer
            candidatesTokenCount:
              type: integer
            totalTokenCount:
              type: integer
        modelVersion:
          type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            status:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

