openapi: 3.1.0
info:
  title: Kling list custom subjects
  description: Paginated query of all custom subjects created by the current user
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /kling/v1/general/advanced-custom-elements:
    get:
      summary: List custom subjects
      description: Paginated list of all custom subjects created by the current user.
      operationId: listKlingCustomElementsZh
      parameters:
        - name: pageNum
          in: query
          required: false
          description: Page number, starting from 1.
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          required: false
          description: Page size.
          schema:
            type: integer
            default: 10
            example: 10
      responses:
        '200':
          description: Query succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: SUCCEED
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        task_id:
                          type: string
                        task_status:
                          type: string
                          enum:
                            - submitted
                            - succeed
                            - failed
                          description: Task status.
                        task_result:
                          type: object
                          properties:
                            elements:
                              type: array
                              items:
                                type: object
                                properties:
                                  element_id:
                                    type: integer
                                  element_name:
                                    type: string
                                  status:
                                    type: string
                        created_at:
                          type: integer
                          description: Creation time (millisecond timestamp)
                        updated_at:
                          type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

