openapi: 3.1.0
info:
  title: Seedance 素材 — 创建音频素材
  description: 通过 Starrise AI API 上传音频素材到素材组
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security:
  - bearerAuth: []
paths:
  /volc/asset/CreateAsset:
    post:
      summary: 创建音频素材
      description: >-
        上传音频到已有素材组，返回的素材 ID 可在 Seedance 2.0 请求中以 `asset://<ID>`
        格式引用，用于背景音乐、参考音频等场景。支持 wav/mp3 格式，≤15 MB。
      operationId: createAudioAssetZh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - GroupId
                - AssetType
                - URL
              properties:
                model:
                  type: string
                  enum:
                    - volc-asset-audio
                  description: 计费模型，音频固定传 `volc-asset-audio`。
                  example: volc-asset-audio
                GroupId:
                  type: string
                  description: 素材组 ID。
                  example: group-20260319072926-rrnmg
                Name:
                  type: string
                  description: 素材名称。
                  example: background-music
                AssetType:
                  type: string
                  enum:
                    - Audio
                  description: 素材类型，音频固定传 `Audio`。
                  example: Audio
                URL:
                  type: string
                  description: 音频 URL、Data URI 或纯 Base64 字符串（wav/mp3，≤15 MB）。
                  example: https://example.com/audio.mp3
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - GroupId
              properties:
                model:
                  type: string
                  enum:
                    - volc-asset-audio
                  description: 计费模型，音频固定传 `volc-asset-audio`。
                file:
                  type: string
                  format: binary
                  description: 要上传的音频文件（wav/mp3，≤15 MB）。
                GroupId:
                  type: string
                  description: 素材组 ID。
                Name:
                  type: string
                  description: 素材名称，默认使用文件名（去掉扩展名）。
                AssetType:
                  type: string
                  enum:
                    - Audio
                  default: Audio
                  description: 素材类型，固定 `Audio`。
      responses:
        '200':
          description: 音频素材创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    description: 素材 ID，在 Seedance 2.0 请求中以 `asset://<ID>` 格式引用。
                    example: asset-20260320120147-pqwhc
        '400':
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl https://ai.starrise.tech/volc/asset/CreateAsset \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "volc-asset-audio",
              "GroupId": "group-20260319072926-rrnmg",
              "Name": "background-music",
              "AssetType": "Audio",
              "URL": "https://example.com/audio.mp3"
            }'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 请求头鉴权，格式为 `Bearer <token>`，其中 `<token>` 为您的 API Key。

