openapi: 3.1.0
info:
  title: Seedance 2.0 Ultra
  description: >-
    通过 Starrise AI API 调用字节跳动 Seedance 2.0 Ultra
    视频生成模型，支持文生视频、图生视频、多模态参考、视频编辑、视频延长、联网搜索增强等能力
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: 创建视频生成任务
      description: |
        创建异步视频生成任务。支持多种输入方式：
        - 文生视频
        - 图生视频（首帧 / 首尾帧）
        - 多模态参考（图片 + 视频 + 音频组合）
        - 编辑视频
        - 延长视频
        - 联网搜索增强

        提交后轮询 `GET /v1/video/generations/{id}` 直到 `status` 为 `succeeded`。
      operationId: createSeedanceUltraZh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - seedance-2.0-ultra
                  description: 模型 ID
                  example: seedance-2.0-ultra
                content:
                  type: array
                  description: |
                    输入内容数组，支持文本、图片、视频、音频的多种组合：
                    - 文本
                    - 文本（可选）+ 图片
                    - 文本（可选）+ 视频
                    - 文本（可选）+ 图片 + 音频
                    - 文本（可选）+ 图片 + 视频
                    - 文本（可选）+ 视频 + 音频
                    - 文本（可选）+ 图片 + 视频 + 音频
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - text
                          - image_url
                          - video_url
                          - audio_url
                        description: |
                          内容类型：
                          - `text` — 文本提示词
                          - `image_url` — 图片输入（首帧 / 尾帧 / 参考图）
                          - `video_url` — 视频输入（参考视频）
                          - `audio_url` — 音频输入（参考音频）
                      text:
                        type: string
                        description: 文本提示词，描述期望生成的视频。建议中文不超过 500 字，英文不超过 1000 词。
                      image_url:
                        type: object
                        description: 图片对象。
                        properties:
                          url:
                            type: string
                            description: |
                              图片 URL、Base64 编码或素材 ID（`asset://<ASSET_ID>`）。
                              支持格式：jpeg、png、webp、bmp、tiff、gif。单张不超过 30 MB。
                      video_url:
                        type: object
                        description: 视频对象。
                        properties:
                          url:
                            type: string
                            description: |
                              视频 URL 或素材 ID（`asset://<ASSET_ID>`）。
                              支持格式：mp4、mov。单个不超过 50 MB，时长 2–15 秒。
                      audio_url:
                        type: object
                        description: 音频对象。不可单独输入，需至少包含 1 个参考视频或图片。
                        properties:
                          url:
                            type: string
                            description: |
                              音频 URL、Base64 编码或素材 ID（`asset://<ASSET_ID>`）。
                              支持格式：wav、mp3。单个不超过 15 MB，时长 2–15 秒。
                      role:
                        type: string
                        enum:
                          - first_frame
                          - last_frame
                          - reference_image
                          - reference_video
                          - reference_audio
                        description: |
                          内容项的角色：
                          - `first_frame` — 首帧图片（图生视频）
                          - `last_frame` — 尾帧图片（首尾帧模式）
                          - `reference_image` — 参考图片（多模态参考，1–9 张）
                          - `reference_video` — 参考视频（多模态参考，最多 3 个）
                          - `reference_audio` — 参考音频（多模态参考，最多 3 段）
                  example:
                    - type: text
                      text: 一只猫在阳光明媚的房间里弹钢琴
                    - type: image_url
                      image_url:
                        url: https://example.com/reference.jpg
                      role: reference_image
                generate_audio:
                  type: boolean
                  default: true
                  description: |
                    控制生成视频是否包含同步音频。
                    - `true` — 自动生成人声、音效和背景音乐
                    - `false` — 无声视频
                resolution:
                  type: string
                  enum:
                    - 720p
                    - 1080p
                    - 2k
                  description: 输出视频分辨率。**Ultra 必填。**
                  example: 720p
                ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    - '21:9'
                    - adaptive
                  default: adaptive
                  description: |
                    输出宽高比。`adaptive` 根据输入自动选择最合适的宽高比。
                duration:
                  type: integer
                  minimum: 4
                  maximum: 15
                  default: 5
                  description: |
                    视频时长（秒），整数，4–15。
                tools:
                  type: array
                  description: 模型调用的工具。当前支持联网搜索（仅文生视频）。
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - web_search
                        description: 工具类型。`web_search` 启用联网搜索。
                watermark:
                  type: boolean
                  default: false
                  description: 是否添加水印。
      responses:
        '200':
          description: 视频生成任务已创建
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 任务 ID
                    example: cgt-20260312231129-7db6s
                  task_id:
                    type: string
                    description: 任务 ID（同 id）
                    example: cgt-20260312231129-7db6s
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: seedance-2.0-ultra
                  status:
                    type: string
                    description: 初始为空
                    example: ''
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    description: Unix 时间戳
                    example: 1773328294
        '400':
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

