openapi: 3.1.0
info:
  title: Kling list official preset subjects
  description: List official Kling preset subjects. Available to all users.
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /kling/v1/general/advanced-presets-elements:
    get:
      summary: List official preset subjects
      description: Paginated list of official Kling preset subjects. Preset subjects always have `owned_by` set to `"kling"`.
      operationId: listKlingPresetElementsZh
      parameters:
        - name: pageNum
          in: query
          required: false
          description: Page number, starting from 1.
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          required: false
          description: Page size.
          schema:
            type: integer
            default: 10
            example: 10
      responses:
        '200':
          description: Query succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: SUCCEED
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        task_id:
                          type: string
                        task_status:
                          type: string
                          enum:
                            - succeed
                        task_result:
                          type: object
                          properties:
                            elements:
                              type: array
                              items:
                                type: object
                                properties:
                                  element_id:
                                    type: integer
                                  element_name:
                                    type: string
                                  element_description:
                                    type: string
                                  element_type:
                                    type: string
                                    example: image_refer
                                  owned_by:
                                    type: string
                                    description: Always `"kling"`
                                    example: kling
                                  status:
                                    type: string
                                    example: succeed
                                  tag_list:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                        name:
                                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

