openapi: 3.1.0
info:
  title: Seedance 1.0 Lite 文生视频
  description: 通过 Starrise AI API 调用字节跳动 Seedance 1.0 Lite 文生视频 模型
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: 创建视频生成任务
      description: 使用 doubao-seedance-1-0-lite-t2v-250428 模型生成视频。
      operationId: createSeedance10LiteT2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedance-1-0-lite-t2v-250428
                  description: 模型 ID
                  example: doubao-seedance-1-0-lite-t2v-250428
                content:
                  type: array
                  minItems: 1
                  description: 多模态内容数组。必须包含 text 项。图生视频时添加带 role 的 image_url 项。
                  items:
                    oneOf:
                      - type: object
                        description: 文本提示词
                        required:
                          - type
                          - text
                        properties:
                          type:
                            type: string
                            enum:
                              - text
                          text:
                            type: string
                            description: 视频生成提示词。
                ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    - '21:9'
                    - adaptive
                  default: '16:9'
                  description: 画面比例。adaptive 支持情况因模型而异。
                  example: '16:9'
                resolution:
                  type: string
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                  default: 720p
                  description: 输出分辨率。
                  example: 720p
                duration:
                  type: integer
                  minimum: 2
                  maximum: 12
                  default: 5
                  description: 视频时长（秒），2-12 秒。
                  example: 5
                watermark:
                  type: boolean
                  default: false
                  description: 是否添加水印。
                seed:
                  type: integer
                  description: 随机种子，用于复现结果。
                camera_fixed:
                  type: boolean
                  default: false
                  description: 是否固定摄像头。
      responses:
        '200':
          description: 任务已创建
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: gen-abc123
                  model:
                    type: string
                    example: doubao-seedance-1-0-lite-t2v-250428
                  status:
                    type: string
                    example: processing
                  created_at:
                    type: integer
                    example: 1773130665
        '401':
          description: 未授权
        '429':
          description: 请求频率超限
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

