openapi: 3.1.0
info:
  title: Seedream 5.0 Text-to-Image
  description: Call the ByteDance Seedream 5.0 text-to-image model
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /v1/images/generations:
    post:
      summary: Create a text-to-image task
      description: Generate an image from text using the doubao-seedream-5-0-260128 model.
      operationId: createSeedream50T2i
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedream-5-0-260128
                  description: Model ID
                  example: doubao-seedream-5-0-260128
                prompt:
                  type: string
                  description: Image generation prompt.
                  example: Generate an image of a girl and a cow plush happily riding a roller coaster at an amusement park
                size:
                  type: string
                  enum:
                    - 2048x2048
                    - 1728x2304
                    - 2304x1728
                    - 2848x1600
                    - 1600x2848
                    - 2496x1664
                    - 1664x2496
                    - 3136x1344
                    - 3072x3072
                    - 2592x3456
                    - 3456x2592
                    - 4096x2304
                    - 2304x4096
                    - 2496x3744
                    - 3744x2496
                    - 4704x2016
                  description: Output image size.
                  example: 2048x2048
                watermark:
                  type: boolean
                  default: false
                  description: Whether to add a watermark.
                seed:
                  type: integer
                  description: Random seed, used to reproduce results.
                logo_info:
                  type: object
                  description: Custom logo watermark configuration.
                  properties:
                    add_logo:
                      type: boolean
                      description: Whether to add a logo watermark.
                    position:
                      type: integer
                      description: Logo position.
                    language:
                      type: integer
                      description: Logo language.
                    opacity:
                      type: number
                      description: Logo opacity (0-1).
      responses:
        '200':
          description: Image generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  model:
                    type: string
                    description: The model to use.
                    example: doubao-seedream-5-0-260128
                  created:
                    type: integer
                    description: Creation timestamp (Unix seconds).
                    example: 1775029815
                  data:
                    type: array
                    description: List of generated images.
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          description: URL of the generated image.
                          example: >-
                            https://ark-content-generation-v2-cn-beijing.example.com/image.png
                        size:
                          type: string
                          description: Image size.
                          example: 2048x2048
                  usage:
                    type: object
                    description: Token usage.
                    properties:
                      generated_images:
                        type: integer
                        description: Number of generated images.
                        example: 1
                      output_tokens:
                        type: integer
                        description: Output token consumption.
                        example: 16384
                      total_tokens:
                        type: integer
                        description: Total token consumption.
                        example: 16384
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

