openapi: 3.1.0
info:
  title: Kling query custom subject
  description: Query the status and result of a custom-subject creation task by task_id
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /kling/v1/general/advanced-custom-elements/{task_id}:
    get:
      summary: Query a custom subject
      description: Query the status and result of a custom-subject creation task. Poll until `task_status` is `succeed` or `failed`.
      operationId: queryKlingCustomElementZh
      parameters:
        - name: task_id
          in: path
          required: true
          description: Task ID returned by the create-subject API.
          schema:
            type: string
            example: '863121016086724692'
      responses:
        '200':
          description: Query succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: SUCCEED
                  request_id:
                    type: string
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                      task_status:
                        type: string
                        enum:
                          - submitted
                          - succeed
                          - failed
                        description: Task status.
                      task_result:
                        type: object
                        properties:
                          elements:
                            type: array
                            items:
                              $ref: '#/components/schemas/Element'
                      created_at:
                        type: integer
                        description: Creation time (millisecond timestamp)
                      updated_at:
                        type: integer
                        description: Update time (millisecond timestamp)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Element:
      type: object
      properties:
        element_id:
          type: integer
          description: Subject ID (used for deletion)
        element_name:
          type: string
        element_description:
          type: string
        element_type:
          type: string
          example: image_refer
        element_image_list:
          type: object
          properties:
            frontal_image:
              type: string
              description: Front image CDN URL
            refer_images:
              type: array
              items:
                type: object
                properties:
                  image_url:
                    type: string
        owned_by:
          type: string
          description: Owner user ID (official presets use "kling")
        status:
          type: string
          enum:
            - succeed
            - failed
        tag_list:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

