openapi: 3.1.0
info:
  title: Seedance 1.0 Lite Text-to-Video
  description: Call ByteDance Seedance 1.0 Lite Text-to-Video model
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: Create a video generation task
      description: Generate a video using the doubao-seedance-1-0-lite-t2v-250428 model.
      operationId: createSeedance10LiteT2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedance-1-0-lite-t2v-250428
                  description: model ID
                  example: doubao-seedance-1-0-lite-t2v-250428
                content:
                  type: array
                  minItems: 1
                  description: Multimodal content array. Must include a text item. For image-to-video, add an image_url item with a role.
                  items:
                    oneOf:
                      - type: object
                        description: Text prompt
                        required:
                          - type
                          - text
                        properties:
                          type:
                            type: string
                            enum:
                              - text
                          text:
                            type: string
                            description: Video generation prompt.
                ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    - '21:9'
                    - adaptive
                  default: '16:9'
                  description: Aspect ratio. Adaptive support varies by model.
                  example: '16:9'
                resolution:
                  type: string
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                  default: 720p
                  description: Output resolution.
                  example: 720p
                duration:
                  type: integer
                  minimum: 2
                  maximum: 12
                  default: 5
                  description: Video duration in seconds, 2-12.
                  example: 5
                watermark:
                  type: boolean
                  default: false
                  description: Whether to add a watermark.
                seed:
                  type: integer
                  description: Random seed, used to reproduce results.
                camera_fixed:
                  type: boolean
                  default: false
                  description: Whether to lock the camera.
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: gen-abc123
                  model:
                    type: string
                    example: doubao-seedance-1-0-lite-t2v-250428
                  status:
                    type: string
                    example: processing
                  created_at:
                    type: integer
                    example: 1773130665
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

