openapi: 3.1.0
info:
  title: Sora 2 create video
  description: Create a Sora 2 video generation task
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/videos:
    post:
      summary: Create a video generation task
      description: >-
        Create a video generation task using the Sora 2 model. Supports text-to-video and image-to-video (via input_reference). Workflow: create task -> query status
        -> download video.
      operationId: createSora2Video
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - sora-2
                  description: Video generation model ID
                  example: sora-2
                prompt:
                  type: string
                  description: Natural-language description of the video. Include shot type, subject, action, scene, lighting, and desired camera movement to reduce ambiguity. Keep a single purpose for best results.
                  example: A cat walking through a sunflower field at golden sunset
                seconds:
                  type: string
                  enum:
                    - '4'
                    - '8'
                    - '12'
                  default: '4'
                  description: Video duration in seconds
                  example: '12'
                size:
                  type: string
                  enum:
                    - 720x1280
                    - 1280x720
                    - 1024x1792
                    - 1792x1024
                  default: 720x1280
                  description: Output resolution, in width x height format
                  example: 1280x720
                input_reference:
                  type: string
                  format: binary
                  description: "Optional reference image used as the first frame. Accepted MIME types: image/jpeg, image/png, image/webp"
                remix_video_id:
                  type: string
                  description: ID of a previously completed video (e.g. video_...), used to reuse its structure, motion, and framing
                  example: video_69b131ea03548190925a6a06febf993b
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Video task ID
                    example: video_69b131ea03548190925a6a06febf993b
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: sora-2
                  status:
                    type: string
                    example: queued
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1773220330
                  seconds:
                    type: string
                    example: '12'
                  size:
                    type: string
                    example: 1280x720
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

