openapi: 3.1.0
info:
  title: Qwen3-VL-235B-A22B-Thinking
  description: 通过 Starrise AI OpenAI 兼容接口调用 阿里巴巴 Qwen3-VL-235B-A22B-Thinking 视觉语言模型
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/chat/completions:
    post:
      summary: 创建对话补全
      description: 根据给定的对话历史（可包含文本和图片）生成模型响应。
      operationId: createChatCompletionQwen3VL235bA22bThinking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  enum:
                    - qwen3-vl-235b-a22b-thinking
                  description: 模型 ID
                  example: qwen3-vl-235b-a22b-thinking
                messages:
                  type: array
                  minItems: 1
                  description: 对话消息列表，支持文本和图片内容。
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - system
                          - user
                          - assistant
                      content:
                        oneOf:
                          - type: string
                          - type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - text
                                    - image_url
                                text:
                                  type: string
                                image_url:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      description: 图片 URL 或 Base64 Data URI。
                  example:
                    - role: user
                      content:
                        - type: image_url
                          image_url:
                            url: https://example.com/image.jpg
                        - type: text
                          text: 请描述这张图片。
                max_tokens:
                  type: integer
                  minimum: 1
                  maximum: 8192
                  default: 8192
                  description: 最大生成 Token 数量。
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: 采样温度，越高输出越随机。
                stream:
                  type: boolean
                  default: false
                  description: 为 true 时通过 SSE 流式返回增量内容。
                enable_thinking:
                  type: boolean
                  description: 启用扩展思考模式（仅支持 thinking 变体）。
      responses:
        '200':
          description: 成功生成响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
        '400':
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: 请求频率超限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ChatCompletion:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: chat.completion
        created:
          type: integer
          description: Unix 时间戳
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                  content:
                    type: string
              finish_reason:
                type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

