openapi: 3.1.0
info:
  title: Qwen Image Plus
  description: Call the Alibaba Qwen Image Plus text-to-image model
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /v1/images/generations:
    post:
      summary: Generate an image
      description: Generate an image from a text description. This is a synchronous call and returns the final image URL directly.
      operationId: createQwenImagePlus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - qwen-image-plus
                  description: model ID
                  example: qwen-image-plus
                prompt:
                  type: string
                  description: Image description text.
                  example: A cute Ghibli-style cat
                'n':
                  type: integer
                  minimum: 1
                  maximum: 4
                  default: 1
                  description: Number of images to generate.
                size:
                  type: string
                  description: Output image size, e.g. `1024x1024` or `768x1344`.
                  example: 1024x1024
                quality:
                  type: string
                  enum:
                    - standard
                    - hd
                  description: Image quality, `standard` or `hd`.
                response_format:
                  type: string
                  enum:
                    - url
                    - b64_json
                  default: url
                  description: Return a URL or Base64-encoded JSON.
      responses:
        '200':
          description: Image generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                    description: Creation timestamp
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          description: Image download URL (valid for about 24 hours).
                        b64_json:
                          type: string
                          description: Base64-encoded image (returned only when `response_format=b64_json`).
                        revised_prompt:
                          type: string
                          description: The actual prompt after AI expansion.
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

