openapi: 3.1.0
info:
  title: GPT-5.2 Chat Latest
  description: Call OpenAI GPT-5.2 Chat Latest (Responses endpoint)
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /v1/responses:
    post:
      summary: Create a model response
      description: Generate a model response from the input. Some OpenAI models only support the Responses format.
      operationId: createResponseGPT52ChatLatest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  enum:
                    - gpt-5.2-chat-latest
                  description: model ID
                  example: gpt-5.2-chat-latest
                input:
                  type: array
                  minItems: 1
                  description: Text or image input for the model, used to generate a response.
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - assistant
                          - system
                      content:
                        type: string
                  example:
                    - role: user
                      content: Hello!
                stream:
                  type: boolean
                  default: false
                  description: When enabled, results are streamed back via SSE.
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: Sampling temperature. Higher values make the output more random.
                  example: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Nucleus sampling threshold.
                frequency_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalize repeated tokens based on frequency.
                presence_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalize tokens that have already appeared.
                max_output_tokens:
                  type: integer
                  minimum: 1
                  description: Maximum number of output tokens.
                stop:
                  type: string
                  description: Character sequences that stop generation.
                'n':
                  type: integer
                  minimum: 1
                  default: 1
                  description: How many response choices to generate.
                text:
                  type: object
                  description: Configuration options for the model's text response.
                  properties:
                    format:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - text
                            - json_object
                          description: Response format type.
                    verbosity:
                      type: string
                      enum:
                        - low
                        - medium
                        - high
                      description: Limits how detailed the model response is. Defaults to medium.
                reasoning:
                  type: object
                  description: Model reasoning/thinking configuration.
                  properties:
                    effort:
                      type: string
                      enum:
                        - minimal
                        - low
                        - medium
                        - high
                      description: Reasoning effort level. Defaults to medium.
                    summary:
                      type: string
                      enum:
                        - auto
                        - concise
                        - detailed
                      description: Summary of the model's reasoning process.
                tools:
                  type: array
                  items:
                    type: object
                  description: A list of tools the model can call.
                tool_choice:
                  type: string
                  description: Controls which tool the model calls.
                store:
                  type: boolean
                  default: true
                  description: Whether to store the generated model response for later retrieval via API.
                user:
                  type: string
                  description: A unique identifier representing the end user.
      responses:
        '200':
          description: Response generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ResponseObject:
      type: object
      required:
        - id
        - object
        - created_at
        - model
        - status
        - output
        - usage
      properties:
        id:
          type: string
          example: resp_0ed94fe7ec73cf560169afd97bba648194b8661d445cfa4244
        object:
          type: string
          example: response
        created_at:
          type: integer
          description: Unix timestamp when the response was created.
          example: 1773132155
        completed_at:
          type: integer
          description: Unix timestamp when the response was completed.
          example: 1773132156
        model:
          type: string
          example: gpt-5.2-chat-latest
        status:
          type: string
          enum:
            - completed
            - failed
            - in_progress
            - incomplete
          example: completed
        output:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: msg_0ed94fe7ec73cf56
              type:
                type: string
                example: message
              role:
                type: string
                example: assistant
              status:
                type: string
                example: completed
              content:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: output_text
                    text:
                      type: string
                      example: Hello! How can I help you?
                    annotations:
                      type: array
                      items:
                        type: object
        reasoning:
          type: object
          properties:
            effort:
              type: string
              example: high
            summary:
              type: string
              example: detailed
        text:
          type: object
          properties:
            format:
              type: object
              properties:
                type:
                  type: string
                  example: text
            verbosity:
              type: string
              example: medium
        usage:
          type: object
          properties:
            input_tokens:
              type: integer
              example: 8
            input_tokens_details:
              type: object
              properties:
                cached_tokens:
                  type: integer
                  example: 0
            output_tokens:
              type: integer
              example: 15
            output_tokens_details:
              type: object
              properties:
                reasoning_tokens:
                  type: integer
                  example: 0
            total_tokens:
              type: integer
              example: 23
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

