openapi: 3.1.0
info:
  title: MiniMax-M2.7
  description: 通过 Starrise AI OpenAI 兼容接口调用 MiniMax-M2.7 旗舰文本模型。204K 上下文窗口，支持交错推理。
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/chat/completions:
    post:
      summary: 对话补全
      description: 根据对话内容生成模型响应。MiniMax-M2.7 仅支持文本和工具调用。
      operationId: createChatCompletionMinimaxM27
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  enum:
                    - MiniMax-M2.7
                  description: 模型 ID
                  example: MiniMax-M2.7
                messages:
                  type: array
                  minItems: 1
                  description: 对话消息数组。
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - system
                          - user
                          - assistant
                      content:
                        type: string
                  example:
                    - role: user
                      content: 你好！
                max_tokens:
                  type: integer
                  minimum: 1
                  maximum: 204800
                  description: 最大生成 Token 数。
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: 采样温度。较高的值会使输出更加随机。
                  example: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.9
                  description: 核采样阈值。
                frequency_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: 根据已有文本中 Token 的出现频率进行惩罚。
                presence_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: 对已出现的 Token 进行惩罚。
                stream:
                  type: boolean
                  default: false
                  description: 开启后通过 SSE 流式传输部分消息增量。
                stop:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                  description: 触发停止生成 further tokens 的序列。
                tools:
                  type: array
                  description: 工具/函数定义，用于智能体工作流。
                  items:
                    type: object
                tool_choice:
                  description: 工具选择策略。
      responses:
        '200':
          description: 补全生成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: 超出速率限制
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ChatCompletion:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
      properties:
        id:
          type: string
          example: chatcmpl-abc123
        object:
          type: string
          example: chat.completion
        created:
          type: integer
          description: Unix 时间戳
        model:
          type: string
          example: MiniMax/MiniMax-M2.7
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                    example: assistant
                  content:
                    type: string
                    example: 你好！有什么可以帮你的？
                  reasoning_content:
                    type: string
                    description: 交错推理激活时返回
              finish_reason:
                type: string
                enum:
                  - stop
                  - length
                  - content_filter
                  - null
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

