openapi: 3.1.0
info:
  title: Seedance 任务查询
  description: 通过 Starrise AI API 查询 Seedance 2.0 视频生成任务的状态和结果
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security:
  - bearerAuth: []
paths:
  /v1/video/generations/{id}:
    get:
      summary: 查询视频生成任务
      description: 通过任务 ID 查询 Seedance 2.0 视频生成任务的状态和结果。
      operationId: getSeedanceTaskStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 视频生成请求返回的任务 ID（格式：`asyntask_xxx`）。
          example: asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E
      responses:
        '200':
          description: 任务状态获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskQueryResponse'
        '401':
          description: 未授权
        '404':
          description: 任务不存在
components:
  schemas:
    TaskQueryResponse:
      type: object
      properties:
        code:
          type: string
          description: 响应状态码。
          example: success
        message:
          type: string
          description: 响应消息。
          example: ''
        data:
          type: object
          properties:
            task_id:
              type: string
              description: 平台任务 ID。
              example: asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E
            action:
              type: string
              description: 生成动作类型，如 `generate`、`referenceGenerate`。
              example: generate
            status:
              type: string
              enum:
                - NOT_START
                - QUEUED
                - IN_PROGRESS
                - SUCCESS
                - FAILURE
              description: >-
                任务状态。`NOT_START` / `QUEUED` / `IN_PROGRESS` 继续轮询；`SUCCESS` 读取
                `result_url`；`FAILURE` 读取 `fail_reason`，平台自动退费。
              example: SUCCESS
            result_url:
              type: string
              description: 预签名视频下载 URL（有效期 24 小时）。失败任务此字段省略。
              example: https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?...
            original_result_url:
              type: string
              description: '**仅超分任务（ultra）成功时返回。** 上游原始视频 URL（增强前）。'
              example: https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?...
            fail_reason:
              type: string
              description: >-
                `status = FAILURE` 时为错误信息。**历史兼容**：`status = SUCCESS` 时该字段会被复制为
                `result_url` 的值（兼容老客户端，未来会移除）。
              example: ''
            submit_time:
              type: integer
              description: 任务提交时间戳（Unix 秒）。
              example: 1777288506
            start_time:
              type: integer
              description: 任务开始时间戳（Unix 秒）；未开始为 `0`。
              example: 1777288508
            finish_time:
              type: integer
              description: 任务完成时间戳（Unix 秒）。
              example: 1777288800
            progress:
              type: string
              description: 任务进度百分比。
              example: 100%
            request_id:
              type: string
              description: 请求溯源 ID（排查问题时使用）。
              example: 20260427111505260254000NBdvZFoP
            data:
              type: object
              description: 上游原始输出。字段集随模型不同。
              properties:
                content:
                  type: object
                  properties:
                    video_url:
                      type: string
                      description: 生成的视频 URL（普通任务等同于外层 `result_url`）。
                      example: >-
                        https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?...
                created_at:
                  type: integer
                  example: 1777288506
                draft:
                  type: boolean
                  example: false
                duration:
                  type: integer
                  description: 视频时长（秒）。
                  example: 5
                framespersecond:
                  type: integer
                  description: 每秒帧数。
                  example: 24
                generate_audio:
                  type: boolean
                  description: 是否生成了音频。
                  example: true
                id:
                  type: string
                  description: 上游任务 ID。
                  example: cgt-20260427191505-9j2q7
                model:
                  type: string
                  description: 上游模型 ID。
                  example: doubao-seedance-2-0-260128
                ratio:
                  type: string
                  description: 视频宽高比。
                  example: '16:9'
                resolution:
                  type: string
                  description: >-
                    上游原始分辨率。**超分任务**为下调后的上游分辨率（如 `480p`），用户感知的最终分辨率在
                    `super_resolution` 字段。
                  example: 720p
                super_resolution:
                  type: string
                  description: '**仅超分任务返回。** 超分后的最终分辨率（如 `720p`、`2k`）。'
                  example: 720p
                seed:
                  type: integer
                  example: 4304
                service_tier:
                  type: string
                  example: default
                status:
                  type: string
                  description: 上游状态：`succeeded`、`failed`、`running` 等。
                  example: succeeded
                updated_at:
                  type: integer
                  example: 1777288796
                usage:
                  type: object
                  description: Token 用量。超分任务额外包含 `super_resolution_tokens`。
                  properties:
                    completion_tokens:
                      type: integer
                      description: 上游原始 completion tokens。
                      example: 108900
                    total_tokens:
                      type: integer
                      description: 上游原始 total tokens。
                      example: 108900
                    super_resolution_tokens:
                      type: integer
                      description: '**仅超分任务返回。** 应用超分系数后的 token 数，对应实际计费 token。'
                      example: 245025
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

