openapi: 3.1.0
info:
  title: Seedance assets — create audio asset
  description: Upload an audio asset to an asset group
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /volc/asset/CreateAsset:
    post:
      summary: Create an audio asset
      description: >-
        Upload audio to an existing asset group. The returned asset ID can be referenced in Seedance 2.0 requests as `asset://<ID>`
        for background music, reference audio, and similar use cases. Supports wav/mp3, ≤15 MB.
      operationId: createAudioAssetZh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - GroupId
                - AssetType
                - URL
              properties:
                model:
                  type: string
                  enum:
                    - volc-asset-audio
                  description: Billing model. Always pass `volc-asset-audio` for audio.
                  example: volc-asset-audio
                GroupId:
                  type: string
                  description: Asset group ID.
                  example: group-20260319072926-rrnmg
                Name:
                  type: string
                  description: Asset name.
                  example: background-music
                AssetType:
                  type: string
                  enum:
                    - Audio
                  description: Asset type. Always pass `Audio` for audio.
                  example: Audio
                URL:
                  type: string
                  description: Audio URL, data URI, or raw Base64 string (wav/mp3, ≤15 MB).
                  example: https://example.com/audio.mp3
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - GroupId
              properties:
                model:
                  type: string
                  enum:
                    - volc-asset-audio
                  description: Billing model. Always pass `volc-asset-audio` for audio.
                file:
                  type: string
                  format: binary
                  description: Audio file to upload (wav/mp3, ≤15 MB).
                GroupId:
                  type: string
                  description: Asset group ID.
                Name:
                  type: string
                  description: Asset name. Defaults to the file name without the extension.
                AssetType:
                  type: string
                  enum:
                    - Audio
                  default: Audio
                  description: Asset type. Always `Audio`.
      responses:
        '200':
          description: Audio asset created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    description: Asset ID. Referenced in Seedance 2.0 requests as `asset://<ID>`.
                    example: asset-20260320120147-pqwhc
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl https://ai.alad.com/volc/asset/CreateAsset \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "volc-asset-audio",
              "GroupId": "group-20260319072926-rrnmg",
              "Name": "background-music",
              "AssetType": "Audio",
              "URL": "https://example.com/audio.mp3"
            }'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Header authentication in the format `Bearer <token>`, where `<token>` is your API key.

