openapi: 3.1.0
info:
  title: Seedance 1.0 Pro Fast 文生视频
  description: 通过 Starrise AI API 调用字节跳动 Seedance 1.0 Pro Fast 文生视频模型
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: 创建文生视频任务
      description: 使用 doubao-seedance-1-0-pro-fast-251015 模型从文本生成视频。
      operationId: createSeedance10ProFastT2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedance-1-0-pro-fast-251015
                  description: 模型 ID
                  example: doubao-seedance-1-0-pro-fast-251015
                content:
                  type: array
                  minItems: 1
                  description: 内容数组，包含文本提示词。
                  items:
                    type: object
                    required:
                      - type
                      - text
                    properties:
                      type:
                        type: string
                        enum:
                          - text
                      text:
                        type: string
                        description: 视频生成提示词。
                ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    - '21:9'
                  default: '16:9'
                  description: 画面比例。文生视频不支持 adaptive。
                  example: '16:9'
                resolution:
                  type: string
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                  default: 720p
                  description: 输出分辨率。
                  example: 720p
                duration:
                  type: integer
                  minimum: 2
                  maximum: 12
                  default: 5
                  description: 视频时长（秒），2-12 秒。
                  example: 5
                watermark:
                  type: boolean
                  default: false
                  description: 是否添加水印。
                seed:
                  type: integer
                  description: 随机种子。
                camera_fixed:
                  type: boolean
                  default: false
                  description: 是否固定摄像头。
      responses:
        '200':
          description: 任务已创建
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: gen-abc123
                  model:
                    type: string
                    example: doubao-seedance-1-0-pro-fast-251015
                  status:
                    type: string
                    example: processing
                  created_at:
                    type: integer
                    example: 1773130665
        '401':
          description: 未授权
        '429':
          description: 请求频率超限
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

