openapi: 3.1.0
info:
  title: GPT-5.5
  description: 通过 Starrise AI OpenAI 兼容接口调用 OpenAI GPT-5.5（Responses 端点）
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/responses:
    post:
      summary: 创建响应
      description: 根据输入创建模型响应。部分 OpenAI 模型仅支持 Responses 格式。
      operationId: createResponseGPT55Zh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  enum:
                    - gpt-5.5
                  description: 模型 ID
                  example: gpt-5.5
                input:
                  type: array
                  minItems: 1
                  description: 供模型生成响应的文本或图像内容。
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - assistant
                          - system
                      content:
                        type: string
                  example:
                    - role: user
                      content: 你好！
                stream:
                  type: boolean
                  default: false
                  description: 为 true 时通过 SSE 流式传输响应增量。
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: 采样温度，值越高输出越随机。
                  example: 1
                frequency_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: 根据 Token 在文本中出现的频率对其进行惩罚。
                presence_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: 对已在文本中出现过的 Token 进行惩罚。
                max_output_tokens:
                  type: integer
                  minimum: 16
                  description: 最大输出 Token 数。
                stop:
                  type: string
                  description: 触发停止生成的序列。
                'n':
                  type: integer
                  minimum: 1
                  default: 1
                  description: 生成的响应候选数量。
                text:
                  type: object
                  description: 模型文本响应的配置选项。
                  properties:
                    format:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - text
                            - json_object
                          description: 响应格式类型。
                    verbosity:
                      type: string
                      enum:
                        - low
                        - medium
                        - high
                      description: 限制模型响应的详细程度，默认为 medium。
                reasoning:
                  type: object
                  description: 模型推理/思考的配置。
                  properties:
                    effort:
                      type: string
                      enum:
                        - none
                        - low
                        - medium
                        - high
                        - xhigh
                      description: 推理工作量级别，默认为 medium。
                    summary:
                      type: string
                      enum:
                        - auto
                        - concise
                        - detailed
                      description: 模型推理过程的摘要形式。
                tools:
                  type: array
                  items:
                    type: object
                  description: 模型可调用的工具列表。
                tool_choice:
                  type: string
                  description: 控制模型调用哪个（如果有）工具。
                store:
                  type: boolean
                  default: true
                  description: 是否存储生成的响应以供后续通过 API 检索，默认为 true。
                user:
                  type: string
                  description: 代表终端用户的唯一标识符。
      responses:
        '200':
          description: 响应生成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: 超出速率限制
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ResponseObject:
      type: object
      required:
        - id
        - object
        - created_at
        - model
        - status
        - output
        - usage
      properties:
        id:
          type: string
          example: resp_0ed94fe7ec73cf560169afd97bba648194b8661d445cfa4244
        object:
          type: string
          example: response
        created_at:
          type: integer
          description: 响应创建时的 Unix 时间戳。
          example: 1773132155
        completed_at:
          type: integer
          description: 响应完成时的 Unix 时间戳。
          example: 1773132156
        model:
          type: string
          example: gpt-5.5
        status:
          type: string
          enum:
            - completed
            - failed
            - in_progress
            - incomplete
          example: completed
        output:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: msg_0ed94fe7ec73cf56
              type:
                type: string
                example: message
              role:
                type: string
                example: assistant
              status:
                type: string
                example: completed
              content:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: output_text
                    text:
                      type: string
                      example: 你好！有什么我可以帮您的？
                    annotations:
                      type: array
                      items:
                        type: object
        reasoning:
          type: object
          properties:
            effort:
              type: string
              example: high
            summary:
              type: string
              example: detailed
        text:
          type: object
          properties:
            format:
              type: object
              properties:
                type:
                  type: string
                  example: text
            verbosity:
              type: string
              example: medium
        usage:
          type: object
          properties:
            input_tokens:
              type: integer
              example: 8
            input_tokens_details:
              type: object
              properties:
                cached_tokens:
                  type: integer
                  example: 0
            output_tokens:
              type: integer
              example: 15
            output_tokens_details:
              type: object
              properties:
                reasoning_tokens:
                  type: integer
                  example: 0
            total_tokens:
              type: integer
              example: 23
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

