openapi: 3.1.0
info:
  title: Kling 删除主体
  description: 通过 element_id 删除自定义主体
  version: 1.0.0
servers:
  - url: https://ai.starrise.tech
security:
  - bearerAuth: []
paths:
  /kling/v1/general/delete-elements:
    post:
      summary: 删除主体
      description: 通过 `element_id` 删除自定义主体。仅可删除自定义主体，官方预设主体不可删除。
      operationId: deleteKlingElementZh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - element_id
              properties:
                element_id:
                  type: string
                  description: 要删除的主体 ID（来自查询响应的 `elements[].element_id`）。
                  example: '863121023120580662'
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 表示成功
                    example: 0
                  message:
                    type: string
                    example: SUCCEED
                  request_id:
                    type: string
        '400':
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

