openapi: 3.1.0
info:
  title: Seedance 1.0 Pro Image-to-Video
  description: Call the ByteDance Seedance 1.0 Pro image-to-video model
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      summary: Create an image-to-video task
      description: Generate a video from a reference image using the doubao-seedance-1-0-pro-250528 model.
      operationId: createSeedance10ProI2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedance-1-0-pro-250528
                  description: model ID
                  example: doubao-seedance-1-0-pro-250528
                content:
                  type: array
                  minItems: 2
                  description: Multimodal content array containing the text prompt and reference images.
                  items:
                    oneOf:
                      - type: object
                        description: Text prompt
                        required:
                          - type
                          - text
                        properties:
                          type:
                            type: string
                            enum:
                              - text
                          text:
                            type: string
                            description: Video generation prompt.
                      - type: object
                        description: Reference image with a role.
                        required:
                          - type
                          - image_url
                        properties:
                          type:
                            type: string
                            enum:
                              - image_url
                          image_url:
                            type: object
                            required:
                              - url
                            properties:
                              url:
                                type: string
                                description: Image URL
                          role:
                            type: string
                            enum:
                              - first_frame
                              - last_frame
                            description: "Image role: first_frame (first frame) or last_frame (last frame)."
                ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    - '21:9'
                    - adaptive
                  default: '16:9'
                  description: Aspect ratio. Image-to-video supports adaptive.
                  example: adaptive
                resolution:
                  type: string
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                  default: 720p
                  description: Output resolution.
                  example: 720p
                duration:
                  type: integer
                  minimum: 2
                  maximum: 12
                  default: 5
                  description: Video duration in seconds, 2-12.
                  example: 5
                watermark:
                  type: boolean
                  default: false
                  description: Whether to add a watermark.
                seed:
                  type: integer
                  description: Random seed.
                camera_fixed:
                  type: boolean
                  default: false
                  description: Whether to lock the camera.
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: gen-abc123
                  model:
                    type: string
                    example: doubao-seedance-1-0-pro-250528
                  status:
                    type: string
                    example: processing
                  created_at:
                    type: integer
                    example: 1773130665
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

