openapi: 3.1.0
info:
  title: Seedance task query
  description: Query the status and result of a Seedance 2.0 video generation task
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations/{id}:
    get:
      summary: Query a video generation task
      description: Query the status and result of a Seedance 2.0 video generation task by task ID.
      operationId: getSeedanceTaskStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Task ID returned by the video generation request (format: `asyntask_xxx`)."
          example: asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E
      responses:
        '200':
          description: Task status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskQueryResponse'
        '401':
          description: Unauthorized
        '404':
          description: Task not found
components:
  schemas:
    TaskQueryResponse:
      type: object
      properties:
        code:
          type: string
          description: Response status code.
          example: success
        message:
          type: string
          description: Response message.
          example: ''
        data:
          type: object
          properties:
            task_id:
              type: string
              description: Platform task ID.
              example: asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E
            action:
              type: string
              description: Generation action type, e.g. `generate` or `referenceGenerate`.
              example: generate
            status:
              type: string
              enum:
                - NOT_START
                - QUEUED
                - IN_PROGRESS
                - SUCCESS
                - FAILURE
              description: >-
                Task status. Keep polling for `NOT_START` / `QUEUED` / `IN_PROGRESS`; on `SUCCESS` read
                `result_url`; on `FAILURE` read `fail_reason`. The platform refunds automatically.
              example: SUCCESS
            result_url:
              type: string
              description: Presigned video download URL (valid for 24 hours). Omitted for failed tasks.
              example: https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?...
            original_result_url:
              type: string
              description: '**Returned only when an Ultra super-resolution task succeeds.** Upstream original video URL (before enhancement).'
              example: https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?...
            fail_reason:
              type: string
              description: >-
                Error message when `status = FAILURE`. **Legacy compatibility**: when `status = SUCCESS`, this field is copied from
                the `result_url` value (for older clients; will be removed later).
              example: ''
            submit_time:
              type: integer
              description: Task submission timestamp (Unix seconds).
              example: 1777288506
            start_time:
              type: integer
              description: Task start timestamp (Unix seconds). `0` if not started.
              example: 1777288508
            finish_time:
              type: integer
              description: Task completion timestamp (Unix seconds).
              example: 1777288800
            progress:
              type: string
              description: Task progress percentage.
              example: 100%
            request_id:
              type: string
              description: Request trace ID (used for troubleshooting).
              example: 20260427111505260254000NBdvZFoP
            data:
              type: object
              description: Raw upstream output. The field set varies by model.
              properties:
                content:
                  type: object
                  properties:
                    video_url:
                      type: string
                      description: Generated video URL (same as the outer `result_url` for normal tasks).
                      example: >-
                        https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?...
                created_at:
                  type: integer
                  example: 1777288506
                draft:
                  type: boolean
                  example: false
                duration:
                  type: integer
                  description: Video duration in seconds.
                  example: 5
                framespersecond:
                  type: integer
                  description: Frames per second.
                  example: 24
                generate_audio:
                  type: boolean
                  description: Whether audio was generated.
                  example: true
                id:
                  type: string
                  description: Upstream task ID.
                  example: cgt-20260427191505-9j2q7
                model:
                  type: string
                  description: Upstream model ID.
                  example: doubao-seedance-2-0-260128
                ratio:
                  type: string
                  description: Video aspect ratio.
                  example: '16:9'
                resolution:
                  type: string
                  description: >-
                    Upstream original resolution. For **super-resolution tasks** this is the downscaled upstream resolution (e.g. `480p`). The user-facing final resolution is in
                    the `super_resolution` field.
                  example: 720p
                super_resolution:
                  type: string
                  description: '**Returned only for super-resolution tasks.** Final resolution after enhancement (e.g. `720p`, `2k`).'
                  example: 720p
                seed:
                  type: integer
                  example: 4304
                service_tier:
                  type: string
                  example: default
                status:
                  type: string
                  description: "Upstream status: `succeeded`, `failed`, `running`, etc."
                  example: succeeded
                updated_at:
                  type: integer
                  example: 1777288796
                usage:
                  type: object
                  description: Token usage. Super-resolution tasks also include `super_resolution_tokens`.
                  properties:
                    completion_tokens:
                      type: integer
                      description: Upstream raw completion tokens.
                      example: 108900
                    total_tokens:
                      type: integer
                      description: Upstream raw total tokens.
                      example: 108900
                    super_resolution_tokens:
                      type: integer
                      description: '**Returned only for super-resolution tasks.** Token count after applying the super-resolution coefficient; this is the billable token count.'
                      example: 245025
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

