openapi: 3.1.0
info:
  title: Kling 3.0 Text-to-Video
  description: Call Kuaishou Kling 3.0 Text-to-Video model
  version: 1.0.0
servers:
  - url: https://ai.cubeuaeai.com
security:
  - bearerAuth: []
paths:
  /kling/v1/videos/text2video:
    post:
      summary: Create a text-to-video task
      description: Generate a video from a text prompt using the kling-v3 model.
      operationId: createKlingV3T2v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                model_name:
                  type: string
                  enum:
                    - kling-v3
                  description: Model name
                  example: kling-v3
                prompt:
                  type: string
                  maxLength: 2500
                  description: Positive text prompt. Maximum 2500 characters.
                  example: A cat walking through a sunflower field at golden sunset
                negative_prompt:
                  type: string
                  maxLength: 2500
                  description: Negative text prompt. Maximum 2500 characters.
                mode:
                  type: string
                  enum:
                    - std
                    - pro
                  default: std
                  description: "std: standard mode (better value). pro: professional mode (higher quality)."
                duration:
                  type: string
                  enum:
                    - '3'
                    - '4'
                    - '5'
                    - '6'
                    - '7'
                    - '8'
                    - '9'
                    - '10'
                    - '11'
                    - '12'
                    - '13'
                    - '14'
                    - '15'
                  default: '5'
                  description: Video duration in seconds, 3-15.
                  example: '5'
                aspect_ratio:
                  type: string
                  enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                  default: '16:9'
                  description: Aspect ratio of the generated video (width:height).
                  example: '16:9'
                cfg_scale:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.5
                  description: Prompt adherence (0-1). Higher values give the model less freedom. Not supported by kling-v2.x models.
                multi_shot:
                  type: boolean
                  default: false
                  description: Whether to generate a multi-shot video. When true, prompt is ignored and multi_prompt must be used.
                shot_type:
                  type: string
                  enum:
                    - customize
                    - intelligence
                  description: Storyboard mode. Required when multi_shot is true.
                multi_prompt:
                  type: array
                  description: Storyboard shots (1-6). Required when multi_shot is true and shot_type is customize.
                  items:
                    type: object
                    properties:
                      index:
                        type: integer
                      prompt:
                        type: string
                        maxLength: 512
                      duration:
                        type: string
                sound:
                  type: string
                  enum:
                    - 'on'
                    - 'off'
                  default: 'off'
                  description: Whether to generate sound effects at the same time. Supported on V2.6 and later.
                camera_control:
                  type: object
                  description: Camera movement parameters.
                  properties:
                    type:
                      type: string
                      enum:
                        - simple
                        - down_back
                        - forward_up
                        - right_turn_forward
                        - left_turn_forward
                    config:
                      type: object
                      properties:
                        horizontal:
                          type: number
                        vertical:
                          type: number
                        pan:
                          type: number
                        tilt:
                          type: number
                        roll:
                          type: number
                        zoom:
                          type: number
                watermark_info:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether to also generate a watermarked result
                callback_url:
                  type: string
                  description: Callback URL for task status notifications
                external_task_id:
                  type: string
                  description: Custom task ID. Must be unique within the same account.
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: '860260753860210752'
                  task_id:
                    type: string
                    example: '860260753860210752'
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: kling-v3
                  status:
                    type: string
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1773130665
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

