openapi: 3.1.0
info:
  title: HappyHorse task query
  description: Query the status and result of a HappyHorse 1.0 video generation task
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /v1/video/generations/{task_id}:
    get:
      summary: Query a video generation task
      description: Query the status and result of a HappyHorse video generation task by task ID.
      operationId: getHappyhorseTaskStatus
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          description: "Task ID returned by the video generation request (format: `asyntask_xxx`)."
          example: asyntask_jwgfhsG0m2aDjLmiiELRf74eoWmss6ya
      responses:
        '200':
          description: Task status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: success
                  message:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        example: asyntask_jwgfhsG0m2aDjLmiiELRf74eoWmss6ya
                      action:
                        type: string
                        description: >-
                          Task subtype: `generate`, `firstTailGenerate`, `referenceGenerate`, `omniGenerate`.
                        example: generate
                      status:
                        type: string
                        enum:
                          - NOT_START
                          - QUEUED
                          - IN_PROGRESS
                          - SUCCESS
                          - FAILURE
                        description: Task status.
                        example: SUCCESS
                      result_url:
                        type: string
                        description: Presigned video download URL (valid for 24 hours). Omitted for failed tasks.
                        example: >-
                          https://dashscope-a717.oss-accelerate.aliyuncs.com/.../xxx_refiner.mp4?Expires=...
                      fail_reason:
                        type: string
                        description: On success, copies `result_url` (for older clients). When `status = FAILURE`, this is the error message.
                        example: >-
                          https://dashscope-a717.oss-accelerate.aliyuncs.com/.../xxx_refiner.mp4?Expires=...
                      submit_time:
                        type: integer
                        example: 1777343862
                      start_time:
                        type: integer
                        description: Upstream start timestamp. `0` if not started.
                        example: 1777343866
                      finish_time:
                        type: integer
                        example: 1777343961
                      progress:
                        type: string
                        example: 100%
                      request_id:
                        type: string
                        example: 20260428023742441081000FMrSbjcs
                      data:
                        type: object
                        description: Raw upstream DashScope output + usage.
                        properties:
                          output:
                            type: object
                            properties:
                              task_id:
                                type: string
                                description: Upstream DashScope task ID.
                                example: e45a6a1b-6f05-43e5-ab06-ddfdc97587a7
                              task_status:
                                type: string
                                enum:
                                  - PENDING
                                  - RUNNING
                                  - SUCCEEDED
                                  - FAILED
                                  - CANCELED
                                  - UNKNOWN
                                example: SUCCEEDED
                              video_url:
                                type: string
                                description: Upstream delivered video URL (same as the outer `result_url`).
                                example: >-
                                  https://dashscope-a717.oss-accelerate.aliyuncs.com/.../xxx_refiner.mp4?Expires=...
                              orig_prompt:
                                type: string
                                example: A cat running on the grass
                              submit_time:
                                type: string
                                example: '2026-04-28 10:37:42.625'
                              scheduled_time:
                                type: string
                                example: '2026-04-28 10:37:42.652'
                              end_time:
                                type: string
                                example: '2026-04-28 10:39:04.185'
                          request_id:
                            type: string
                            example: 53121cad-c008-9b96-af1d-4289a4fc714b
                          usage:
                            type: object
                            properties:
                              SR:
                                type: integer
                                description: Actual generated resolution tier (720 / 1080).
                                example: 720
                              duration:
                                type: integer
                                description: Billable total duration.
                                example: 5
                              input_video_duration:
                                type: integer
                                description: Input video duration (0 for t2v/i2v/r2v; present for video-edit).
                                example: 0
                              output_video_duration:
                                type: integer
                                description: Actual generated video duration.
                                example: 5
                              ratio:
                                type: string
                                description: Actual aspect ratio (returned only for t2v / r2v; not returned for i2v / video-edit).
                                example: '16:9'
                              video_count:
                                type: integer
                                description: Number of videos (always 1).
                                example: 1
        '401':
          description: Unauthorized
        '404':
          description: Task not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

