openapi: 3.1.0
info:
  title: Seedance 2.0 assets — list asset groups
  description: List asset groups
  version: 1.0.0
servers:
  - url: https://ai.alad.com
security:
  - bearerAuth: []
paths:
  /volc/asset/ListAssetGroups:
    post:
      summary: List asset groups
      description: List asset groups. Supports fuzzy match by name and exact match by ID. Queries are not billed.
      operationId: listAssetGroups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAssetGroupsRequest'
      responses:
        '200':
          description: Query succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssetGroupsResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    ListAssetGroupsRequest:
      type: object
      required:
        - model
        - Filter
      properties:
        model:
          type: string
          description: Model name. Defaults to `volc-asset`.
          example: volc-asset
        Filter:
          $ref: '#/components/schemas/ListAssetGroupsFilter'
        PageNumber:
          type: integer
          description: Page number. Defaults to `1`.
          example: 1
        PageSize:
          type: integer
          description: Page size. Defaults to `10`.
          example: 10
      example:
        model: volc-asset
        Filter:
          Name: my-project
          GroupIds:
            - group-20260320141746-zsf6b
        PageNumber: 1
        PageSize: 10
    ListAssetGroupsResponse:
      type: object
      properties:
        Items:
          type: array
          items:
            type: object
            properties:
              Id:
                type: string
                example: group-20260320141746-zsf6b
              Name:
                type: string
                example: test-token
              Title:
                type: string
                description: Display title with a user/token prefix.
                example: '[u-1]-[t-88] test-token'
              GroupType:
                type: string
                example: AIGC
              ProjectName:
                type: string
                example: default
              CreateTime:
                type: string
                example: '2026-03-20T14:17:46Z'
              UpdateTime:
                type: string
                example: '2026-03-20T14:17:46Z'
        PageNumber:
          type: integer
          example: 1
        PageSize:
          type: integer
          example: 10
        TotalCount:
          type: integer
          example: 2
    ListAssetGroupsFilter:
      type: object
      properties:
        Name:
          type: string
          description: Fuzzy match by name.
          example: my-project
        GroupIds:
          type: array
          items:
            type: string
          description: Exact match against a list of asset group IDs.
          example:
            - group-20260320141746-zsf6b
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

